.download-button{
    position: absolute;
    cursor: pointer;
  
}

.mermaid{
    width: fit-content;
    min-width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

.mermaid svg {
    max-width: none !important;
    /* height: 1000px; */
    height: 100%;
    max-height: 700px;
}
  .mermaid > * {
    pointer-events: none;
    text-align: center !important;
}
.mermaid-container{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 80%;
    flex-direction: column;
}

.mermaid p {
    text-align: center !important;
    /* line-height: 18px; */
    font-size: 16px !important;
    /* margin-top: 1.5rem; */
    padding: 4px 8px;
    color: #2c2b2b;
    /* font-family: "arial"; */
    /* font-weight: 500 !important; */
    /* box-sizing:content-box; */
}
.loading-icon-container{
    display: flex;
    justify-content: center;
}

.loading-icon-container img{
    width: 25px;
}
.download-png{
    position: absolute;
    top: 40px;
    right: -11px;
    background: white;
    display: flex;
    gap: 4px;
    font-size: 13px;
    box-shadow: 0px 0px 20px rgb(221 234 250);
    padding: 1px 7px;
    border-radius: 2px;

}

.download-png img{
    width: 11px;
}

.flow-chart-download-cont div{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-button-cont{
    position: absolute;
    right: 118px;
    top: 0px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 1px 5px;

    box-shadow: 0px 0px 20px rgb(221 234 250);
    color: #073bb2;
    border-radius: 10%;
}

.preview-button-cont img{
    width: 12px;
    /* padding: 8px; */
    box-shadow: 0px 0px 20px rgb(221 234 250);
}