# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage
venv
www/~

# sandbox
sandbox

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
*.pyc
.coverage
/services/core/config.py
/services/core/__pycache__/db_api.cpython-310.pyc
/services/core/__pycache__/draft_api.cpython-310.pyc
/services/core/__pycache__/notification.cpython-310.pyc
/services/core/__pycache__/prompts.cpython-310.pyc
/services/core/common/__pycache__/postgresql.cpython-310.pyc
/services/log_file.txt
postgresql.cpython-310.pyc
/services/logs
services/ipauthor_Fri.log
services/ipauthor_Mon.log
services/ipauthor_Thu.log
services/ipauthor_Tue.log
services/ipauthor_Wed.log
services/ipauthor_Sat.log
services/ipauthor_Sun.log
/.github/hooks/.env
__pycache__
/testing/venv*
/testing/~*
/testing/htmlcov*
/testing/reports*
/~
/sandbox/~$Inventions.xlsx
/services/total_description.txt
