.patent-details-container{
  padding: 0px;
  margin: 0px;
}

/* pre {
  white-space: pre-wrap;
  margin-left: 50px;
  border: 2px solid #000;
  padding: 5px;
  text-align: left !important;
} */

/* h1 {
  background-color: #fff;
  border: 2px solid #000;
  padding: 10px 20px;
  margin: 25px;
  transition: all 0.3s ease;

} */
/* 
h2 {
  background-color: #fff;
  padding: 10px 20px;
  margin: 25px;
  transition: all 0.3s ease;

  text-align: left !important;

}

h2:hover {
  color: #3e0909;
  border-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
} 



h3 {
  background-color: #fff;
  border: 2px solid #000;
  padding: 10px 25px;
  margin: 25px;
  transition: all 0.3s ease;
}

h3:hover {
  color: #281818;
  border-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

h4 {
  background-color: #fff;
  border: 2px solid #000;
  padding: 10px 20px;
  margin: 25px;
  transition: all 0.3s ease;

}

h4:hover {
  color: #281818;
  border-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

 */



/* button:hover {
  background-image: linear-gradient(to bottom right, #282828, #4c4c4c);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
} */

/* .editButton{
  margin-left: 90% !important;
  padding: 2px 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
} */